<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavouriteMovies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F83F0AF1CEF9C1F008E80C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F83F0C61CEF9C1F008E80C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F83F0D11CEF9C1F008E80C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
